<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.projects.modular.attendance.mapper.DeptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.projects.modular.attendance.entity.Dept">
        <id column="dept_id" property="deptId" />
        <result column="name" property="name" />
        <result column="mark" property="mark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        dept_id AS "deptId", name AS "name", mark AS "mark"
    </sql>

</mapper>
